@use "../../../cssUtils" as cssUtils;

$center-align-spacing: calc(32px + cssUtils.$space-s);

.openui-shell-thread-composer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto cssUtils.$space-m;
  padding: 0 $center-align-spacing;

  .openui-shell-container--mobile & {
    margin: 0;
    padding: cssUtils.$space-m 14px;
    background-color: cssUtils.$foreground;
  }

  .openui-shell-thread-container--artifact-active & {
    padding-left: 0;
    padding-right: cssUtils.$space-m;
  }

  &__input-wrapper {
    border: 1.256px solid cssUtils.$border-default;
    border-radius: cssUtils.$radius-xl;
    display: flex;
    align-items: flex-end;
    gap: cssUtils.$space-s;
    padding: cssUtils.$space-m;
  }

  &__input {
    flex-grow: 1;
    padding: 0;
    resize: none;
    margin: auto 0px;
    min-height: 1lh;
    max-height: 154px;
    outline: none;
    border: none;
    background: transparent;
    overflow: hidden;
    @include cssUtils.typography(body, default);
    color: cssUtils.$text-neutral-primary;

    &::placeholder {
      color: cssUtils.$text-neutral-tertiary;
    }
  }
}
