@use "../../cssUtils.scss" as cssUtils;

.crayon-label {
  box-sizing: border-box;
  @include cssUtils.typography(label, default);
  color: cssUtils.$primary-text;

  &-disabled {
    color: cssUtils.$disabled-text;
    cursor: not-allowed;
  }
}
