@use "../../cssUtils" as cssUtils;

.crayon-input {
  @include cssUtils.typography(body, default);
  border: 1px solid cssUtils.$default-stroke;
  border-radius: cssUtils.$rounded-xs;
  box-sizing: border-box;
  width: 100%;
  gap: cssUtils.$spacing-xs;
  background-color: cssUtils.$container-fills;
  color: cssUtils.$primary-text;

  &-small {
    padding: cssUtils.$spacing-2xs cssUtils.$spacing-s;
  }

  &-medium {
    padding: cssUtils.$spacing-xs cssUtils.$spacing-s;
  }

  &-large {
    padding: cssUtils.$spacing-s;
  }
  &::placeholder {
    color: cssUtils.$disabled-text;
  }
  &:focus {
    outline: none;
    border-color: cssUtils.$interactive-el-hover-stroke;
  }

  &:disabled {
    background-color: cssUtils.$container-fills;
    border: 1px solid cssUtils.$default-stroke;
    cursor: not-allowed;
  }
}
