@use "../../../cssUtils" as cssUtils;

.crayon-line-chart-condensed-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.crayon-line-chart-condensed-container-inner {
  display: flex;
  width: 100%;
}

.crayon-line-chart-condensed-y-axis-container {
  flex-shrink: 0;
}

.crayon-line-chart-condensed {
  width: 100%;
  height: 100%;

  &-x-axis-label {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$secondary-text;
    text-align: center;
  }

  &-y-axis-label {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$secondary-text;
    padding-bottom: cssUtils.$spacing-s;
  }
}

.crayon-line-chart-condensed-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  pointer-events: auto;
}
