@use "../../../cssUtils" as cssUtils;

.crayon-horizontal-bar-chart-container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.crayon-horizontal-bar-chart-x-axis-container {
  flex-shrink: 0;
}

.crayon-horizontal-bar-chart-main-container {
  height: 100%;
  overflow-y: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}
