@use "../../../cssUtils" as cssUtils;

.crayon-horizontal-bar-chart-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .crayon-horizontal-bar-chart-container-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    min-width: 0;
  }

  .crayon-horizontal-bar-chart-x-axis-container {
    flex-shrink: 0;
    width: 100%;
  }

  .crayon-horizontal-bar-chart-container-inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .crayon-horizontal-bar-chart-main-container {
    height: 100%;
    overflow-y: auto;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
  }
}
