@use "../../../../cssUtils" as cssUtils;

.crayon-radar-chart-container-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 20px;
  &.layout-column {
    flex-direction: column;
    align-items: center;
  }
}

.crayon-radar-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  .layout-column & {
    flex: 1;
    min-height: 0;
  }
}

.crayon-radar-chart-container-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crayon-radar-chart {
  .recharts-polar-grid-concentric-polygon {
    stroke-width: 1;
    stroke: var(--crayon-chart-grid-fills);
  }
}

.crayon-chart-polar-angle-axis-label {
  pointer-events: none;
  @include cssUtils.typography(label, 2-extra-small);
  color: cssUtils.$secondary-text;
}
