@use "../../cssUtils" as cssUtils;

.crayon-slider {
  &-wrapper {
    display: flex;
    align-items: center;
    gap: cssUtils.$spacing-s;
    width: 100%;
  }

  &-left-content,
  &-right-content {
    display: flex;
    align-items: center;
    min-width: fit-content;
    color: cssUtils.$primary-text;
    @include cssUtils.typography(label, small);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &-container {
    padding: 0 10px;
    background-color: cssUtils.$bg-sunk;
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: cssUtils.$rounded-s;
  }

  &-root {
    position: relative;
    display: flex;
    height: 20px;
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    touch-action: none;
    user-select: none;
    align-items: center;
  }

  &-track {
    position: relative;
    height: 10px;
    flex-grow: 1;
    border-radius: cssUtils.$rounded-full;
  }

  &-range {
    position: absolute;
    height: 100%;
    border-radius: cssUtils.$rounded-s;
    background-color: cssUtils.$interactive-accent;
    margin-left: -10px;
    margin-right: -8px;

    &--at-min {
      background-color: transparent;
    }
  }

  &-thumb {
    outline: none;
    &-handle {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: cssUtils.$rounded-s;
      outline: 1px solid cssUtils.$stroke-default;
      background-color: cssUtils.$bg-container;
      overflow: hidden;
      box-shadow: cssUtils.$shadow-s;

      &-inner {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: cssUtils.$bg-container;
        transition: background-color 0.2s;

        &:hover {
          background-color: cssUtils.$bg-sunk;
        }

        &-dot {
          width: 6px;
          height: 6px;
          border-radius: cssUtils.$rounded-3xs;
          background-color: cssUtils.$interactive-accent;
        }
      }
    }

    &-value {
      @include cssUtils.typography(label, small);
      position: absolute;
      top: -35px;
      left: 50%;
      border-radius: cssUtils.$rounded-2xs;
      transform: translateX(-50%);
      background-color: cssUtils.$bg-container;
      color: cssUtils.$primary-text;
      padding: cssUtils.$spacing-2xs;
      border-radius: cssUtils.$rounded-s;
      box-shadow: cssUtils.$shadow-m;
      opacity: 0;
      transition: opacity 0.2s;
      border: 1px solid cssUtils.$stroke-interactive-el;
      box-shadow: cssUtils.$shadow-s;

      .crayon-slider-thumb-handle:hover &,
      .crayon-slider-thumb-handle:focus & {
        opacity: 1;
      }
    }
  }

  &-dots {
    &-dot {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 4px;
      border-radius: cssUtils.$rounded-full;
      background-color: cssUtils.$disabled-text;

      &--active {
        background-color: cssUtils.$bg-container;
      }
    }
  }

  &-container-wrapper {
    width: 100%;
  }

  &-labels {
    display: flex;
    justify-content: space-between;
    margin-top: cssUtils.$spacing-m;
    color: cssUtils.$secondary-text;
    @include cssUtils.typography(label, small);
    padding: 0 cssUtils.$spacing-2xs;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
