// BottomTray component styles
// This file imports all individual style modules for the BottomTray component

@use "./container.scss";
@use "./trigger.scss";
@use "./header.scss";
@use "./threadList.scss";
@use "./thread.scss";
@use "./components/composer.scss";
@use "./conversationStarter.scss";
@use "./welcomeScreen.scss";
