@use "../../cssUtils" as cssUtils;
@use "./thread.scss";
@use "./header.scss";

.crayon-bottom-tray-container {
  display: flex;
  position: fixed;
  bottom: 0;
  right: cssUtils.$spacing-l;
  height: 600px;
  width: 530px;
  overflow: hidden;
  flex-direction: column;

  border: 1px solid cssUtils.$stroke-default;
  border-radius: cssUtils.$rounded-l cssUtils.$rounded-l 0 0;
  box-shadow: cssUtils.$shadow-2xl;

  background: cssUtils.$chat-container-bg;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
}

