@use "../../cssUtils" as cssUtils;

.crayon-list-with-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: cssUtils.$spacing-s;
  padding: cssUtils.$spacing-s;
  border-radius: cssUtils.$rounded-xl;
  border: 1px solid cssUtils.$stroke-default;
  background-color: cssUtils.$bg-container;
  cursor: pointer;
  &-icon-container {
    height: 40px;
    width: 40px;
    background-color: cssUtils.$bg-sunk;
    border-radius: cssUtils.$rounded-m;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }
  &-icon {
    color: cssUtils.$primary-text;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: cssUtils.$spacing-3xs;
  }
  &-title {
    @include cssUtils.typography(label, default);
    color: cssUtils.$primary-text;
  }
  &-subtitle {
    @include cssUtils.typography(label, default);
    color: cssUtils.$secondary-text;
  }
}
