@use "../../../cssUtils.scss" as cssUtils;

.crayon-single-stacked-bar-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &-gap {
    gap: cssUtils.$spacing-m;
  }
}

.crayon-single-stacked-bar-chart {
  width: 100%;
  height: 20px;
  font-family: inherit;
  background-color: cssUtils.$bg-fill;
  border-radius: cssUtils.$rounded-s;
  overflow: hidden;
  box-shadow: cssUtils.$shadow-s;
  display: flex;
  padding: cssUtils.$spacing-2xs;
  gap: cssUtils.$spacing-3xs;
}

.crayon-single-stacked-bar-chart-segment {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2px;
  box-shadow: cssUtils.$shadow-s;
  // border-radius: cssUtils.$rounded-xs;
  position: relative;
  overflow: hidden;
  transition:
    box-shadow 0.2s ease,
    filter 0.2s ease,
    opacity 0.2s ease;

  &:first-child {
    border-radius: cssUtils.$rounded-xs 0 0 cssUtils.$rounded-xs;
  }

  &:last-child {
    border-radius: 0 cssUtils.$rounded-xs cssUtils.$rounded-xs 0;
  }

  &-line {
    position: absolute;
    transform: translateY(-50%);
    background-color: cssUtils.$stroke-accent-emphasis;
    top: 50%;
    left: 5px;
    width: calc(100% - 10px);
    height: 1px;
    z-index: 1;
    min-width: 2px;
  }
}

.crayon-single-stacked-bar-chart-animated {
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

