@use "../../../cssUtils" as cssUtils;

.container {
  display: flex;
  min-height: 100vh;
  background: cssUtils.$bg-fill;
  position: relative;
}

.content {
  flex-grow: 1;
  padding: cssUtils.$spacing-2xl;
  
  h1 {
    @include cssUtils.typography(heading, large);
    color: cssUtils.$primary-text;
    margin-bottom: cssUtils.$spacing-l;
  }
  
  p {
    @include cssUtils.typography(body, default);
    color: cssUtils.$secondary-text;
  }
}

