

.crayon-button-base {
  font: var(--font-body);
  padding: var(--spacing-m);
  border-radius: var(--rounded-m);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  // Primary variant
  &-primary {
    background-color: var(--brand-el-fills);
    color: var(--brand-text);
    &:hover {
      background-color: var(--brand-el-hover-fills);
    }
    &:disabled {
      background-color: var(--disabled-text);
      cursor: not-allowed;
    }
  }
  // Secondary variant
  &-secondary {
    background-color: var(--container-fills);
    color: var(--primary-text);
    border-color: var(--strokes-default);
    &:hover {
      background-color: var(--container-hover-fills);
    }
    &:disabled {
      color: var(--disabled-text);
      border-color: var(--disabled-text);
      cursor: not-allowed;
    }
  }
  // Tertiary variant
  &-tertiary {
    background-color: transparent;
    color: var(--primary-text);
    &:hover {
      background-color: var(--container-hover-fills);
    }
    &:disabled {
      color: var(--disabled-text);
      cursor: not-allowed;
    }
  }
  &-small {
    padding: var(--spacing-s);
  }
}
