@use "../../cssUtils" as cssUtils;

.crayon-tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-m;

  &-clear {
    .crayon-tabs-content {
      padding: cssUtils.$spacing-3xs 0;
      border: transparent;
    }
    .crayon-tabs-list {
      border-radius: 0;
      gap: cssUtils.$spacing-m;
      background: none;
      padding: 0;
      box-sizing: border-box;
      flex: 1;
      display: flex;
      width: 100%;
      position: relative;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        border-bottom: 1px solid cssUtils.$stroke-default;
        pointer-events: none;
      }
    }
    .crayon-tabs-trigger {
      width: auto;
      min-width: 0;
      border: 0px;
      border-radius: cssUtils.$rounded-0;
      border-bottom: 1px solid transparent;
      flex-shrink: 0;
      padding: 10.5px 0;
      &[data-state="active"] {
        border: 0px;
        box-shadow: none;
        border-bottom: 1px solid cssUtils.$stroke-interactive-el-selected;
        background-color: transparent;
      }
      &:not([data-state="active"]):hover {
        color: cssUtils.$primary-text;
        border: 0px;
        border-bottom: 1px solid cssUtils.$stroke-default;
        background-color: transparent;
      }
    }
  }

  &-card {
    .crayon-tabs-content {
      padding: cssUtils.$spacing-l;
      border: 1px solid cssUtils.$stroke-default;
    }
  }

  &-sunk {
    .crayon-tabs-content {
      padding: cssUtils.$spacing-l;
      border: 1px solid cssUtils.$stroke-default;
      background-color: cssUtils.$bg-sunk;
    }
  }
}

.crayon-tabs-list-container {
  position: relative;
  display: flex;
  align-items: center;
}

.crayon-tabs-scroll-button {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.crayon-tabs-scroll-left {
    left: 2px;
  }

  &.crayon-tabs-scroll-right {
    right: 2px;
  }
}

.crayon-tabs-list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: cssUtils.$spacing-3xs;
  flex-direction: row;
  padding: cssUtils.$spacing-2xs;
  border-radius: cssUtils.$rounded-l;
  background-color: cssUtils.$bg-sunk;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.crayon-tabs-trigger {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$spacing-2xs;
  box-sizing: border-box;
  padding: cssUtils.$spacing-3xs cssUtils.$spacing-s;
  border: 1px solid transparent;
  border-radius: cssUtils.$rounded-s;
  min-width: 7.3rem;
  width: 100%;
  background-color: transparent;
  color: cssUtils.$secondary-text;
  @include cssUtils.typography(label, default);
  &[data-state="active"] {
    background-color: cssUtils.$bg-elevated;
    border: 1px solid cssUtils.$stroke-default;
    color: cssUtils.$primary-text;
    box-shadow: cssUtils.$shadow-s;
  }
  &:not([data-state="active"]):hover {
    background-color: cssUtils.$bg-sunk;
    border: 1px solid cssUtils.$stroke-default;
    color: cssUtils.$secondary-text;
    box-shadow: cssUtils.$shadow-s;
  }
  &-text {
    text-align: center;
    width: auto;
    max-width: 232px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
  }
}

.crayon-tabs-content {
  box-sizing: border-box;
  padding: cssUtils.$spacing-l;
  border: 1px solid transparent;
  border-radius: cssUtils.$rounded-m;
  @include cssUtils.typography(body, default);

  &-inner {
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-l;
  }
}
