@use "../../../../cssUtils" as cssUtils;

.crayon-bar-chart-container-inner {
  display: flex;
  width: 100%;
}

.crayon-bar-chart-y-axis-container {
  flex-shrink: 0;
}

.crayon-bar-chart-main-container {
  width: 100%;
  overflow-x: auto;
}
