@use "../../cssUtils" as cssUtils;

.crayon-tag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  // border: 1px solid cssUtils.$stroke-default;
  // border-radius: cssUtils.$rounded-s;
  // padding: cssUtils.$spacing-2xs cssUtils.$spacing-s cssUtils.$spacing-2xs cssUtils.$spacing-2xs;
  // background: cssUtils.$bg-elevated;
  // color: cssUtils.$primary-text;
  @include cssUtils.typography(label, small);
  gap: cssUtils.$spacing-2xs;

  &-icon {
    display: flex;
    align-items: center;
  }

  &-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-md {
    padding: cssUtils.$spacing-xs;
    border-radius: cssUtils.$rounded-xs;
  }

  &-lg {
    padding: cssUtils.$spacing-s;
    border-radius: cssUtils.$rounded-m;
  }

  &-neutral {
    background-color: cssUtils.$bg-sunk;
    color: cssUtils.$primary-text;
  }

  &-info {
    background-color: cssUtils.$bg-info;
    color: cssUtils.$info-primary-text;
  }

  &-success {
    background-color: cssUtils.$bg-success;
    color: cssUtils.$success-primary-text;
  }

  &-warning {
    background-color: cssUtils.$bg-alert;
    color: cssUtils.$alert-primary-text;
  }

  &-danger {
    background-color: cssUtils.$bg-danger;
    color: cssUtils.$danger-primary-text;
  }
}
