@use "../../../../cssUtils" as cssUtils;

.crayon-chart-condensed-x-axis-tick {
  @include cssUtils.typography(label, extra-small);
  color: cssUtils.$secondary-text;
}

.crayon-chart-condensed-x-axis-tick-angled {
  @include cssUtils.typography(label, extra-small);
  color: cssUtils.$secondary-text;
}
