@use "../../cssUtils" as cssUtils;

.crayon-header {
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-xs;
  margin-bottom: cssUtils.$spacing-2xs;
  overflow-wrap: break-word;

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: cssUtils.$spacing-xs;
      color: cssUtils.$primary-text;
      @include cssUtils.typography(heading, small);
      font-weight: 600;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        width: 1em;
      }
    }

    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: cssUtils.$spacing-2xs;
    }
  }

  &-bottom {
    color: cssUtils.$secondary-text;
    @include cssUtils.typography(body, default);
  }
}
