@use "../../cssUtils" as cssUtils;

.crayon-header {
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-2xs;
  overflow-wrap: break-word;

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: cssUtils.$spacing-2xs;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        width: 16px;
      }
    }

    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: cssUtils.$spacing-2xs;
    }
  }

  &-bottom {
    color: cssUtils.$secondary-text;
    @include cssUtils.typography(body, default);
  }

  &-answer {
    .crayon-header-top-left {
      color: cssUtils.$primary-text;
      @include cssUtils.typography(body, large-heavy);
      &-icon {
        height: 18px;
        width: 18px;
      }
    }
  }

  &-number {
    gap: cssUtils.$spacing-xs;
    .crayon-header-top-left {
      color: cssUtils.$primary-text;
      @include cssUtils.typography(number, title-medium);
      &-icon {
        height: 24px;
        width: 24px;
      }
    }
    .crayon-header-bottom {
      color: cssUtils.$secondary-text;
      @include cssUtils.typography(body, default);
    }
  }

  &-default {
    gap: cssUtils.$spacing-xs;
    .crayon-header-top-left {
      color: cssUtils.$primary-text;
      @include cssUtils.typography(heading, medium);
      &-icon {
        height: 24px;
        width: 24px;
      }
    }
    .crayon-header-bottom {
      color: cssUtils.$secondary-text;
      @include cssUtils.typography(body, default);
    }
  }
}
