body {
  /* Background colors */
  --background-fills:#f5f5f5 ;
  /* this is provided by the user */
  --brand-el-fills: #000000; 
  /* need to provide the opacity */
  --brand-el-hover-fills: #000000;
  --container-fills: #ffffff;
  /* need to provide the opacity */
  --overlay-fills: #000000;
  --sunk-fills: #000000;
  --container-hover-fills: #ffffff;
  --danger-fills: #7F56D9;
  --success-fills: #079455;

  /* Border colors */
  --strokes-default: #000000;
  --stocks-interactive-el: #000000;
  --stocks-interactive-el-hover: #000000;
  --strokes-interactive-el-selected: #000000;

  /* Text colors */
  --brand-text: #ffffff;
  --brand-secondary-text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #ffffff;
  --disabled-text: #000000;
  --danger-text: #d92d20;
  --success-text: #079455;
  --link-text: #000000;
  --info-text: #000000;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-3xs:2px;
  --spacing-2xs:4px;
  --spacing-xs:6px;
  --spacing-s:8px;
  --spacing-m:12px;
  --spacing-l:18px;
  --spacing-xl:24px;
  --spacing-2xl:36px;
  --spacing-3xl:48px;

  /* Radius */
 --rounded-0: 0px;
 --rounded-3xs:2px;
 --rounded-2xs:4px;
 --rounded-xs:6px;
 --rounded-s:8px;
 --rounded-m:12px;
 --rounded-l:14px;
 --rounded-xl:20px;
 --rounded-2xl:28px;
 --rounded-3xl:32px;
 --rounded-full:999px;
 
}
[data-theme="dark"] {
    color-scheme: dark;
  /* Background colors */
  --background-fills:#f5f5f5 ;
  /* this is provided by the user */
  --brand-el-fills: #000000; 
  /* need to provide the opacity */
  --brand-el-hover-fills: #000000;
  --container-fills: #ffffff;
  /* need to provide the opacity */
  --overlay-fills: #000000;
  --sunk-fills: #000000;
  --container-hover-fills: #ffffff;
  --danger-fills: #7F56D9;
  --success-fills: #079455;

  /* Border colors */
  --strokes-default: #000000;
  --stocks-interactive-el: #000000;
  --stocks-interactive-el-hover: #000000;
  --strokes-interactive-el-selected: #000000;

  /* Text colors */
  --brand-text: #ffffff;
  --brand-secondary-text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #ffffff;
  --disabled-text: #000000;
  --danger-text: #d92d20;
  --success-text: #079455;
  --link-text: #000000;
  --info-text: #000000;
}