@use "sass:map";
@use "../../../../cssUtils" as cssUtils;

.crayon-date-picker-renderer-floating-input-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid map.get(cssUtils.$colors, "strokes", "default");
  border-radius: map.get(cssUtils.$radius, "xs");
  background: map.get(cssUtils.$colors, "fills", "container");
  padding: map.get(cssUtils.$spacing, "xs") map.get(cssUtils.$spacing, "s");
  @include cssUtils.typography(primary, default);
  color: map.get(cssUtils.$colors, "text", "primary");
  cursor: pointer;
  box-shadow: map.get(cssUtils.$shadows, "s");

  &:disabled {
    color: map.get(cssUtils.$colors, "text", "disabled");
    cursor: not-allowed;
  }

  &-open {
    border-color: map.get(cssUtils.$colors, "strokes", "interactive-el-selected");
    background-color: map.get(cssUtils.$colors, "fills", "container-hover");
  }

  &-not-open {
    &:hover {
      border-color: map.get(cssUtils.$colors, "strokes", "default");
      background-color: map.get(cssUtils.$colors, "fills", "container-hover");
    }
  }

  &-has-no-selected-date {
    color: map.get(cssUtils.$colors, "text", "secondary");
  }
}

.crayon-date-picker-renderer-floating-input-container-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.crayon-date-picker-renderer-floating-input-container-icon {
    
}
