@use "../../../../../cssUtils" as cssUtils;

.crayon-chart-legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$spacing-2xs;
}

.crayon-chart-legend-axis-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$spacing-m;
  flex-wrap: wrap;
}

.crayon-chart-legend-axis-label {
  @include cssUtils.typography(label, small);
  color: cssUtils.$secondary-text;

  &-text {
    color: cssUtils.$primary-text;
  }
}

.crayon-chart-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-transform: capitalize;
  flex-wrap: wrap;

  &--bottom {
    padding-top: cssUtils.$spacing-m;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: cssUtils.$spacing-2xs;

    svg {
      height: 12px;
      width: 12px;
      color: cssUtils.$primary-text;
    }

    &-indicator {
      height: 10px;
      width: 10px;
      flex-shrink: 0;
      border-radius: cssUtils.$rounded-2xs;
      background-color: var(--color-bg);
    }

    &-label {
      @include cssUtils.typography(label, small);
      max-width: 64px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: cssUtils.$primary-text;
    }
  }
}
