@use "../../../cssUtils" as cssUtils;

$center-align-spacing: calc(32px + cssUtils.$spacing-s);

.crayon-shell-thread-composer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto cssUtils.$spacing-m;
  padding: 0 $center-align-spacing;

  .crayon-shell-container--mobile & {
    margin: 0;
    padding: cssUtils.$spacing-m 14px;
    background-color: cssUtils.$bg-container;
  }

  .crayon-shell-thread-container--artifact-active & {
    padding-left: 0;
    padding-right: cssUtils.$spacing-m;
  }

  &__input-wrapper {
    border: 1.256px solid cssUtils.$stroke-default;
    border-radius: cssUtils.$rounded-xl;
    display: flex;
    align-items: flex-end;
    gap: cssUtils.$spacing-s;
    padding: cssUtils.$spacing-m;
  }

  &__input {
    flex-grow: 1;
    padding: 0;
    resize: none;
    margin: auto 0px;
    max-height: 154px;
    outline: none;
    border: none;
    background: transparent;
    overflow: hidden;
    @include cssUtils.typography(body, default);
    color: cssUtils.$primary-text;

    &::placeholder {
      color: cssUtils.$disabled-text;
    }
  }
}
