@use "../../../cssUtils" as cssUtils;

$center-align-spacing: calc(32px + cssUtils.$spacing-s);

.crayon-shell-thread-composer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto cssUtils.$spacing-m;
  padding: 0 $center-align-spacing;

  .crayon-shell-container--mobile & {
    margin: 0;
    padding: cssUtils.$spacing-m 14px;
    background-color: cssUtils.$bg-container;
  }

  .crayon-shell-thread-container--artifact-active & {
    padding-left: 0;
    padding-right: cssUtils.$spacing-m;
  }

  &__input-wrapper {
    background-color: cssUtils.$bg-container;
    border: 1px solid cssUtils.$stroke-interactive-el;
    border-radius: cssUtils.$rounded-l;
    box-shadow: cssUtils.$shadow-s;
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-s;
    padding: cssUtils.$spacing-s;
  }

  &__input {
    scrollbar-width: thin;
    scrollbar-color: cssUtils.$bg-elevated transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: cssUtils.$bg-elevated;
      border-radius: cssUtils.$rounded-full;
    }

    padding: 0 cssUtils.$spacing-3xs;
    resize: none;
    max-height: 200px;
    outline: none;
    border: none;
    background: transparent;
    overflow-y: auto;
    @include cssUtils.typography(body, default);
    color: cssUtils.$primary-text;

    &::placeholder {
      color: cssUtils.$secondary-text;
    }
  }

  &__action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
