@use "../../../cssUtils" as cssUtils;

.crayon-shell-desktop-welcome-composer {
  background-color: cssUtils.$bg-container;
  border: 1px solid cssUtils.$stroke-interactive-el;
  border-radius: cssUtils.$rounded-2xl;
  box-shadow: cssUtils.$shadow-s;
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-m;
  padding: cssUtils.$spacing-m;
  width: 100%;
  max-width: 800px;

  &__input {
    scrollbar-width: thin;
    scrollbar-color: cssUtils.$bg-elevated transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: cssUtils.$bg-elevated;
      border-radius: cssUtils.$rounded-full;
    }

    padding: 0 cssUtils.$spacing-3xs;
    resize: none;
    max-height: 200px;
    min-height: 24px;
    outline: none;
    border: none;
    background: transparent;
    overflow-y: auto;
    @include cssUtils.typography(body, default);
    color: cssUtils.$primary-text;

    &::placeholder {
      color: cssUtils.$secondary-text;
    }
  }

  &__action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
