@use "../../../../cssUtils" as cssUtils;

.crayon-stacked-legend-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.crayon-stacked-legend-scroll-button {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;

  &.crayon-stacked-legend-scroll-up {
    top: 2px;
  }

  &.crayon-stacked-legend-scroll-down {
    bottom: 2px;
  }
}

.crayon-stacked-legend {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 200px;
  overflow-y: auto;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    height: 36px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &--active {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      min-width: 0;
      flex: 1;

      &-text {
        color: cssUtils.$primary-text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 0;
      }
    }

    &-color-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 36px;
      width: 32px;
      flex-shrink: 0;
    }

    &-color {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      transition: all 0.2s ease-in-out;

      .crayon-stacked-legend__item:hover & {
        transform: scale(1.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }

      .crayon-stacked-legend__item--active & {
        transform: scale(1.3);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
      }
    }

    &-label-text {
      @include cssUtils.typography(label, medium);
      color: cssUtils.$primary-text;
      transition: color 0.2s ease-in-out;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
    }

    &-value {
      @include cssUtils.typography(label, medium);
      color: cssUtils.$primary-text;
      transition: all 0.2s ease-in-out;
      flex-shrink: 0;
    }
  }
}
