.section {
  padding-inline: 1.25rem;
  padding-block: 3rem 1rem;
}

.row {
  margin-inline: auto;
  max-width: 75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
}

.logo {
  height: 2rem;
  width: auto;
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding-block: 4rem 1.5rem;
  }

  .row {
    justify-content: space-between;
    column-gap: 3rem;
  }

  .logo {
    height: 2.5rem;
  }
}
