@use "../../../cssUtils" as cssUtils;

.crayon-bar-chart-condensed-container {
  display: flex;
  flex-direction: column;
}

.crayon-bar-chart-condensed-container-inner {
  display: flex;
  width: 100%;
}

.crayon-bar-chart-condensed-y-axis-container {
  flex-shrink: 0;
}

.crayon-bar-chart-condensed {
  width: 100%;
  height: 100%;

  &-x-axis-label {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$secondary-text;
    text-align: center;
  }

  &-y-axis-label {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$secondary-text;
    padding-bottom: cssUtils.$spacing-s;
  }
}
