@use "../../cssUtils" as cssUtils;

.crayon-button-base {
  box-sizing: border-box;
  @include cssUtils.typography(label, large);
  border-radius: cssUtils.$rounded-m;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  gap: cssUtils.$spacing-xs;
  align-items: center;
  & svg {
    height: 1rem;
    width: 1rem;
  }

  // Primary variant
  &-primary {
    background-color: cssUtils.$interactive-accent;
    color: cssUtils.$accent-primary-text;
    border-color: cssUtils.$stroke-accent;
    &:hover {
      background-color: cssUtils.$interactive-accent-hover;
    }
    &:disabled {
      background-color: cssUtils.$interactive-accent-disabled;
      cursor: not-allowed;
    }
    &:active {
      background-color: cssUtils.$interactive-accent-pressed;
    }
  }
  // Secondary variant
  &-secondary {
    background-color: cssUtils.$interactive-default;
    color: cssUtils.$primary-text;
    border-color: cssUtils.$stroke-interactive-el;
    &:hover {
      background-color: cssUtils.$interactive-hover;
    }
    &:disabled {
      background-color: cssUtils.$interactive-default;
      color: cssUtils.$tertiary-text;
      cursor: not-allowed;
    }
    &:active {
      background-color: cssUtils.$interactive-hover;
    }
  }
  // Tertiary variant
  &-tertiary {
    background-color: cssUtils.$interactive-default;
    color: cssUtils.$primary-text;
    &:hover {
      background-color: cssUtils.$interactive-hover;
    }
    &:disabled {
      background-color: cssUtils.$interactive-disabled;
      border-color: cssUtils.$stroke-default;
      color: cssUtils.$disabled-text;
      cursor: not-allowed;
    }
    &:active {
      background-color: cssUtils.$interactive-hover;
      border-color: cssUtils.$stroke-interactive-el;
    }
  }

  // Destructive variant
  // Primary variant
  &-destructive-primary {
    background-color: cssUtils.$interactive-destructive-accent;
    color: cssUtils.$danger-inverted-primary-text;
    border-color: cssUtils.$stroke-accent;
    &:hover {
      background-color: cssUtils.$interactive-destructive-accent-hover;
    }
    &:disabled {
      background-color: cssUtils.$interactive-destructive-accent-disabled;
      cursor: not-allowed;
    }
    &:active {
      background-color: cssUtils.$interactive-destructive-accent-pressed;
    }
  }
  // Secondary variant
  &-destructive-secondary {
    background-color: cssUtils.$interactive-destructive;
    color: cssUtils.$danger-primary-text;
    border-color: cssUtils.$stroke-danger;
    &:hover {
      background-color: cssUtils.$interactive-destructive-hover;
    }
    &:disabled {
      background-color: cssUtils.$interactive-destructive-disabled;
      color: cssUtils.$danger-tertiary-text;
      cursor: not-allowed;
    }
    &:active {
      background-color: cssUtils.$interactive-destructive-hover;
    }
  }
  // Tertiary variant
  &-destructive-tertiary {
    color: cssUtils.$danger-primary-text;
    &:hover {
      background-color: cssUtils.$interactive-destructive-hover;
    }
    &:disabled {
      color: cssUtils.$danger-tertiary-text;
      cursor: not-allowed;
    }
    &:active {
      background-color: cssUtils.$interactive-destructive-hover;
      border-color: cssUtils.$stroke-danger;
    }
  }

  // Sizes
  &-small {
    border-radius: cssUtils.$rounded-s;
    padding: calc(cssUtils.$spacing-2xs + 0.602px) cssUtils.$spacing-s;
    @include cssUtils.typography(label, default);
  }

  &-medium {
    padding: calc(cssUtils.$spacing-s - 0.6px) cssUtils.$spacing-m;
  }

  &-large {
    padding: calc(cssUtils.$spacing-s + 1.4px) cssUtils.$spacing-m;
  }
}
