@use "../../cssUtils" as cssUtils;
@use "./sidebar.scss";
@use "./threadlist.scss";
@use "./thread.scss";
@use "./mobileHeader.scss";
@use "./resizableSeparator.scss";
@use "./conversationStarter.scss";
@use "./welcomeScreen.scss";
@use "./components/desktopWelcomeComposer.scss";
@use "./components/composer.scss";

.crayon-shell-container {
  display: flex;
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  background: cssUtils.$chat-container-bg;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }

  &.crayon-shell-container--mobile {
    padding: 0;
  }
}

.crayon-shell-new-chat-button {
  width: 100%;
  justify-content: space-between;

  .crayon-shell-sidebar-header--collapsed & {
    width: auto;
  }
}
