@use "../../cssUtils" as cssUtils;

.crayon-checkbox-item-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-s;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: cssUtils.$spacing-xs cssUtils.$spacing-0;
}

.crayon-checkbox-item-root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: cssUtils.$rounded-xs;
  border: 1px solid cssUtils.$stroke-interactive-el;
  background-color: cssUtils.$bg-container;
  cursor: pointer;

  &[data-state="checked"] {
    background-color: cssUtils.$interactive-accent;
    color: cssUtils.$primary-text;
  }

  &:not(:disabled):not([data-state="checked"]):hover {
    border-color: cssUtils.$stroke-interactive-el;
    background-color: cssUtils.$bg-sunk;
    color: cssUtils.$primary-text;
  }

  &:disabled {
    cursor: not-allowed;
    color: cssUtils.$disabled-text;
  }
}

.crayon-checkbox-item-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cssUtils.$brand-text;
}

.crayon-checkbox-item-label {
  flex: 1;
  @include cssUtils.typography(body, default);
  color: cssUtils.$primary-text;
  &:disabled {
    color: cssUtils.$disabled-text;
  }
}
