@use "../../cssUtils" as cssUtils;

.crayon-callout-v2 {
  display: flex;
  flex-direction: column;
  padding: cssUtils.$spacing-0 calc(cssUtils.$spacing-m + 2px);
  box-sizing: border-box;
  align-items: flex-start;
  border-left: 2px solid;

  &-info {
    border-color: cssUtils.$stroke-info-emphasis;
    & .crayon-callout-v2-title {
      color: cssUtils.$info-primary-text;
    }
  }

  &-danger {
    border-color: cssUtils.$stroke-danger-emphasis;
    & .crayon-callout-v2-title {
      color: cssUtils.$danger-primary-text;
    }
  }

  &-warning {
    border-color: cssUtils.$stroke-alert-emphasis;
    & .crayon-callout-v2-title {
      color: cssUtils.$alert-primary-text;
    }
  }

  &-success {
    border-color: cssUtils.$stroke-success-emphasis;
    & .crayon-callout-v2-title {
      color: cssUtils.$success-primary-text;
    }
  }

  &-neutral {
    border-color: cssUtils.$stroke-interactive-el-selected;
    & .crayon-callout-v2-title {
      color: cssUtils.$primary-text;
    }
  }
  &-title {
    @include cssUtils.typography(body, heavy);
  }
  &-description {
    @include cssUtils.typography(body, default);
    color: cssUtils.$primary-text;
  }
}
