@use "../../../../cssUtils" as cssUtils;

.crayon-area-chart-container-inner {
  display: flex;
  width: 100%;
}

.crayon-area-chart-y-axis-container {
  flex-shrink: 0;
}

.crayon-area-chart-main-container {
  width: 100%;
  overflow-x: auto;
}

.crayon-area-chart-scroll-container {
  position: relative;
}

.crayon-area-chart-scroll-button {
  position: absolute;

  &--left {
    top: -15px;
    transform: translateY(-50%);
    left: 20px;
  }

  &--right {
    top: -15px;
    transform: translateY(-50%);
    right: 0px;
  }

  &--disabled {
    visibility: hidden;
    cursor: not-allowed;
    transition: visibility 0.5s ease-in-out;
  }
}
