@use "../../../../cssUtils" as cssUtils;

.crayon-pie-chart-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.crayon-pie-chart-container-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crayon-pie-chart {
  position: relative;
}
