@use "../../../../cssUtils" as cssUtils;

.crayon-chart-svg-x-axis-tick {
  @include cssUtils.typography(label, extra-small);
  fill: cssUtils.$secondary-text;
}

.crayon-chart-svg-x-axis-tick-angled {
  @include cssUtils.typography(label, extra-small);
  fill: cssUtils.$secondary-text;
}
