@use "../../../../cssUtils.scss" as cssUtils;

.crayon-portal-tooltip {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
}

.crayon-chart-tooltip {
  display: grid;
  align-items: start;
  min-width: 128px;
  max-width: 240px;
  gap: cssUtils.$spacing-xs;
  padding: cssUtils.$spacing-xs;
  color: cssUtils.$primary-text;
  @include cssUtils.typography(label, default);
  border-radius: cssUtils.$rounded-s;
  border: 1px solid cssUtils.$stroke-default;
  background-color: cssUtils.$bg-container;
  box-shadow: cssUtils.$shadow-s;
  text-transform: capitalize;

  &-label {
    @include cssUtils.typography(label, default);
  }

  &-label-heavy {
    @include cssUtils.typography(label, heavy);
  }

  // this is the content of the tooltip, where the items of the of each data point is rendered,
  // todo: remove commented style once the review is done.

  &-content {
    display: grid;
    align-items: start;
    min-width: 128px;
    gap: cssUtils.$spacing-xs;
    padding: cssUtils.$spacing-xs;
    color: cssUtils.$primary-text;
    @include cssUtils.typography(label, default);
    // border-radius: cssUtils.$rounded-s;
    // border: 1px solid cssUtils.$stroke-default;
    background-color: cssUtils.$bg-container;
    box-shadow: cssUtils.$shadow-s;
    text-transform: capitalize;

    &-item {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: cssUtils.$spacing-xs;
      align-items: stretch;
      &--dot {
        align-items: center;
      }

      svg {
        height: 10px;
        width: 10px;
        color: cssUtils.$primary-text;
      }
    }
    // this portion is responsible for styling the colored box or other indicators like line, dashed, etc.
    &-indicator {
      flex-shrink: 0;
      border-radius: cssUtils.$rounded-2xs;

      &--dot {
        height: 10px;
        width: 10px;
        background-color: var(--color-bg);
        border-color: var(--color-border);
      }

      &--line {
        width: 4px;
        background-color: var(--color-bg);
        border-color: var(--color-border);
      }

      &--dashed {
        width: 0;
        border: 1.5px dashed var(--color-border);
        background-color: transparent;
      }

      &--nested-dashed {
        margin: cssUtils.$spacing-3xs 0;
      }
    }

    &-value-wrapper {
      display: flex;
      flex: 1;
      justify-content: space-between;
      line-height: 1;

      &--nested {
        align-items: flex-end;
      }

      &--standard {
        align-items: center;
      }
    }

    &-label {
      display: grid;
      gap: cssUtils.$spacing-xs;
      color: cssUtils.$primary-text;
      @include cssUtils.typography(label, default);
    }

    &-value {
      font-variant-numeric: tabular-nums;
      color: cssUtils.$primary-text;
      @include cssUtils.typography(label, default);

      &--percentage {
        padding-left: cssUtils.$spacing-s;
      }
    }
  }
}
