@use "../../cssUtils" as cssUtils;

.crayon-carousel {
  position: relative;
  display: flex;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-m;
    width: 100%;
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: cssUtils.$spacing-m;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-x: hidden;
    scrollbar-width: none;

    &-wrapper {
      display: flex;
      gap: cssUtils.$spacing-m;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      box-sizing: border-box;
      scroll-snap-align: start;
    }
  }

  &-item {
    @include cssUtils.typography(body, default);
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-m;
    width: 280px;
    flex-shrink: 0;
    border-radius: cssUtils.$rounded-2xl;
    background-color: cssUtils.$bg-container;
    padding: cssUtils.$spacing-m;
    border: 1px solid cssUtils.$stroke-default;
  }

  &-button {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    background: cssUtils.$bg-container;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: cssUtils.$rounded-s;

    &-left {
      left: -12px;
    }

    &-right {
      right: -12px;
    }
  }

  .crayon-carousel-button--hidden {
    display: none;
  }
  .crayon-carousel-button--disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  @media (max-width: 400px) {
    .crayon-carousel-item {
      width: 248px;
      flex-shrink: 0;
    }
  }
}

.crayon-carousel--sunk {
  .crayon-carousel-item {
    background-color: cssUtils.$bg-highlight-subtle;
  }
}
