@use "../../../cssUtils" as cssUtils;

.crayon-area-chart-container {
  position: relative;
}

.crayon-area-chart-container-inner {
  display: flex;
  width: 100%;
}

.crayon-area-chart-y-axis-container {
  flex-shrink: 0;
}

.crayon-area-chart-main-container {
  width: 100%;
  overflow-x: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

.crayon-area-chart-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  pointer-events: auto;
}
