@use "../../../cssUtils" as cssUtils;

.crayon-copilot-shell-thread-composer {
  width: 100%;
  padding: cssUtils.$spacing-m cssUtils.$spacing-l cssUtils.$spacing-l;
  background-color: cssUtils.$bg-container;

  &__input-wrapper {
    border: 1px solid cssUtils.$stroke-interactive-el;
    border-radius: cssUtils.$rounded-l;
    box-shadow: cssUtils.$shadow-s;
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-s;
    padding: cssUtils.$spacing-s;
  }

  &__input {
    scrollbar-width: thin;
    scrollbar-color: cssUtils.$bg-elevated transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: cssUtils.$bg-elevated;
      border-radius: cssUtils.$rounded-full;
    }

    padding: 0 cssUtils.$spacing-3xs;
    resize: none;
    max-height: 200px;
    outline: none;
    border: none;
    background: transparent;
    overflow-y: auto;
    @include cssUtils.typography(body, default);
    color: cssUtils.$primary-text;

    &::placeholder {
      color: cssUtils.$secondary-text;
    }
  }

  &__action-bar {
    display: flex;
    align-items: center;
  }

  &__submit-button {
    margin-left: auto;
  }
}
