@use "../../../cssUtils" as cssUtils;

.crayon-scatter-chart-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.crayon-scatter-chart-container-inner {
  position: relative;
  display: flex;
  width: 100%;
  flex: 1;
  min-width: 0;
}
.crayon-scatter-chart-x-axis-container-outer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid cssUtils.$stroke-default;
  box-sizing: border-box;
}
.crayon-scatter-chart-x-axis-container {
  flex-shrink: 0;
  width: 100%;
  padding-top: cssUtils.$spacing-2xs;
}
.crayon-scatter-chart-y-axis-container {
  flex-shrink: 0;
}

.crayon-scatter-chart-main-container {
  width: 100%;
  overflow-x: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}
