@use "../../../cssUtils" as cssUtils;

.crayon-scatter-chart-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.crayon-scatter-chart-container-inner {
  position: relative;
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
}
.crayon-scatter-chart-x-axis-container {
  position: absolute;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  width: 100%;
}
.crayon-scatter-chart-y-axis-container {
  flex-shrink: 0;
}

.crayon-scatter-chart-main-and-x-axis-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.crayon-scatter-chart-main-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 45px;
}

.crayon-scatter-chart-legend-container {
  border-top: 1px solid cssUtils.$stroke-default;
}
