name: Build JS

on:
  push:
    branches: [ main ]
    paths:
      - js/**
  pull_request:
    branches: [ main ]
    # paths:
    #   - js/**

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        react-version: ['default', '17', '18']
    defaults:
      run:
        working-directory: js
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
        with:
          version: 9.0.6
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: pnpm
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install React ${{ matrix.react-version }}
        if: matrix.react-version != 'default'
        run: pnpm add -w -D react@^${{ matrix.react-version }}.0.0 react-dom@^${{ matrix.react-version }}.0.0 @types/react@^${{ matrix.react-version }}.0.0 @types/react-dom@^${{ matrix.react-version }}.0.0

      - name: Build affected projects
        run: pnpm -r build

      - name: Check affected projects
        run: pnpm -r run ci
